In [2]:
import pandas as pd
data = pd.read_csv('DataSet.csv')

In [3]:
data.head()

,Unnamed: 0,Location,Job_Description,Sector,Eligibility,salary,Month,vacancies
0,0,DELHI,SALES & MARKETING AGENT,Sales/Retail/Business Development,BTech BE ME MTech,35000.0,7,8.0
1,1,BENGALURU,GERMAN TRAINING COORDINATOR,Customer Service/Support,BSc Diploma,50000.0,9,8.0
2,2,BENGALURU,PROCESS ENGINEER,Engineering,MPhil PhD,150000.0,7,3.0
3,3,BENGALURU,SENIOR SOFTWARE ENGINEER,IT/Software Development,BTech BE ME MTech,60000.0,5,2.0
4,4,BENGALURU,GRAPHIC DESIGNER,Creative/Design,BDS MBBS BAMS,30000.0,7,2.0

In [5]:
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
le = LabelEncoder()
cv = CountVectorizer()

In [4]:
data["Location"].unique

<bound method Series.unique of 0            DELHI
1        BENGALURU
2        BENGALURU
3        BENGALURU
4        BENGALURU
           ...
16240    BENGALURU
16241     QALYUBIA
16242    BENGALURU
16243    BENGALURU
16244    BENGALURU
Name: Location, Length: 16245, dtype: object>